/* your styles go here */
@media (min-width: 768px) {
  .modal-sm {
    width: 450px !important;
  }
}
#cart {
  display: inline-block;
  box-sizing: border-box;
  border: 2px solid green;
  border-radius: 4px;
  margin-top: 13px;
  letter-spacing: 0.7px;
  font-weight: 400;
  font-size: 13px;
  vertical-align: middle;
}
#count-cart{
    background: rgb(253, 253, 135);
    color: #000000;
    font-weight: bold;
    border-radius: 4px;
    padding: 3px;
}