RewriteEngine on
RewriteRule ^dien-thoai/$ main.php [L]
RewriteRule ^gio-hang/$  main.php?p=giohang  [L]
RewriteRule ^thanh-toan-1/$ main.php?p=thanhtoan1 [L]
RewriteRule ^thanh-toan-2/$ main.php?p=thanhtoan2 [L]
RewriteRule ^thanh-toan-3/$ main.php?p=thanhtoan3 [L]
RewriteRule ^thanh-toan-4/$ main.php?p=thanhtoan4 [L]
RewriteRule ^dat-hang/$  main.php?p=dathang  [L]
RewriteRule ^dien-thoai/(.*)/(.*)/$ main.php?p=sptrongloai&TenLoai=$1&pageNum=$2 [L]
RewriteRule ^dien-thoai/(.*)/$ main.php?p=sptrongloai&TenLoai=$1&pageNum=1 [L]
RewriteRule ^dien-thoai/(.*).html$ main.php?p=chitiet&TenDT=$1 [L]
RewriteRule ^lien-he/$  main.php?p=lienhe  [L]
RewriteRule ^dang-ky/$  main.php?p=dangky [L]
RewriteRule ^dang-ky-thanh-cong/$  main.php?p=dangkytc [L]
RewriteRule ^kich-hoat/(.*)/(.*)$  kh.php?id=$1&rd=$2 [L]
RewriteRule ^doi-pass/$ doipass.php [L]
RewriteRule ^doi-pass-thanh-cong/$ doipasstc.php [L]
RewriteRule ^goi-pass/$ goipass.php [L]
RewriteRule ^goi-pass-thanh-cong/$ goipasstc.php [L]
RewriteRule ^tin-tuc/(.*)/$ main.php?p=tintuc&pageNum=$1 [L]
RewriteRule ^tin-tuc/$ main.php?p=tintuc&pageNum=1 [L]
RewriteRule ^gioi-thieu/$  main.php?p=gioithieu  [L]
RewriteRule ^dat-hang-tc/$  main.php?p=dathangtc  [L]
RewriteRule ^tim-kiem/(.*)/(.*)/$ main.php?p=search&TuKhoa=$1&pageNum=$2 [L]
RewriteRule ^tim-kiem/(.*)/$ main.php?p=search&TuKhoa=$1&pageNum=1 [L]